@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: 'Manrope', sans-serif;

  * {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
  }
}

main {
  display: flex;
  height: calc(100vh - 70px); // assuming header is 60px tall

  aside {
    width: 275px;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    padding: 45px 50px;
  }

  .mainContent {
    // background-color: #ddd;
    width: calc(100% - 275px);
    padding: 45px 50px;
    overflow: auto;
  }
}
